<footer>
  <hr />
  <div class="container" id="contact">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">
          Copyright &copy; 2021 All Rights Reserved by
          <a href="https://github.com/benjaminbills" target="_blank"
            >Benjamin Obafemi</a
          >.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li>
            <a
              href="https://twitter.com/Benjaminobafem1"
              target="_blank"
              rel="noopener noreferrer"
              ><i class="fab fa-twitter"></i
            ></a>
          </li>
          <li>
            <a
              href="https://github.com/benjaminbills"
              target="_blank"
              rel="noopener noreferrer"
              ><i class="fab fa-github"></i
            ></a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/benjamin-obafemi-a896b314b/"
              target="_blank"
              rel="noopener noreferrer"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>