.profile-photo {
  height: 70%;
  width: 100%;
  border-radius: 20%;
}
.project-image {
  cursor: pointer;
}
.description {
  display: none;
  cursor: pointer;
}
@media screen and (max-width:2000px) and (min-width: 986px) {
  .profile-photo {
    height: 70%;
    width: 50%;
    border-radius: 20%;
  }
}
@media screen and (max-width:985px) and (min-width: 501px){
  .profile-photo {
    height: 100%;
    width: 50%;
    border-radius: 20%;
  }
}

@media screen and (max-width:500px) and  (min-width:0px){
  .profile-photo {
    height: 100%;
    width: 50%;
    border-radius: 20%;
  }
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 150px 0px 8px 8px;
}
.social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
.copyright-text {
  margin: 0;
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}

@media (max-width: 767px) {
  .social-icons li a {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
